/* Styles */

body {
	margin: 0;
	height: 100%; 
	color: #6d777f; 
	font-family: 'times new roman', Georgia, Arial, Tahoma;
	font-size: 12px;
	background: #101210 url(../img/body_top_bg.jpg) center top no-repeat;
}

a:link {
	color: #9fabb8; 
	text-decoration: none;
}

a:visited {
	color: #9fabb8; 
	text-decoration: none;
}

a:hover {
	color: #9fabb8; 
	text-decoration: underline;
}

img {
	border: 0px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

#wrapper {
	width: 1000px;
	margin: 0px auto;
}

#menu {
	height: 68px;
	background: url(../img/menu_bg.jpg) no-repeat;
	font-size: 0px;
	text-align: center;
}

#menu a {
	display: inline-block;
	height: 68px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
}

#download {
	height: 120px;
	background: url(../img/download_bg.jpg) no-repeat;
	padding-top: 33px;
}

#download a {
	display: block;
	width: 133px;
	height: 83px;
	background: url(../img/download.jpg) no-repeat;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
}

#download a:hover {
	display: block;
	width: 133px;
	height: 83px;
	background: url(../img/download_button.jpg) no-repeat;
}

#logo {
	height: 380px;
	background: url(../img/logo_bg.jpg) no-repeat;
}

#logo a {
	width: 380px;
	height: 62px;
	display: block;
	margin: 0px auto;
}

#menu_home {
	width: 73px;
	background: url(../img/menu/menu_home.png) no-repeat;
}

#menu_home:hover {
	background: url(../img/menu/menu_home_hover.png) no-repeat;
}

#menu_forum {
	width: 73px;
	background: url(../img/menu/menu_forum.png) no-repeat;
}

#menu_forum:hover {
	background: url(../img/menu/menu_forum_hover.png) no-repeat;
}

#menu_ranglist {
	width: 100px;
	background: url(../img/menu/menu_ranglist.png) no-repeat;
}

#menu_ranglist:hover {
	background: url(../img/menu/menu_ranglist_hover.png) no-repeat;
}

#menu_registration {
	width: 120px;
	background: url(../img/menu/menu_registration.png) no-repeat;
}

#menu_registration:hover {
	background: url(../img/menu/menu_registration_hover.png) no-repeat;
}

#menu_about {
	width: 73px;
	background: url(../img/menu/menu_about.png) no-repeat;
}

#menu_about:hover {
	background: url(../img/menu/menu_about_hover.png) no-repeat;
}

#login {
	height: 170px;
	background: url(../img/login_bg.jpg) no-repeat;
}

#button_extern {
	margin-top: -191px;
	margin-left: -5px;
}

#button_extern a {
	display: block;
	width: 210px;
	height: 45px;
	margin-bottom: 56px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
}

#dw {
	background: url(../img/buttons/button_extern_dw.png) no-repeat;
}

#dw:hover {
	background: url(../img/buttons/button_extern_dw_hover.png) no-repeat;
}

#wk {
	background: url(../img/buttons/button_extern_wk.png) no-repeat;
}

#wk:hover {
	background: url(../img/buttons/button_extern_wk_hover.png) no-repeat;
}


#page_title {
	height: 41px;
	background: url(../img/page_title_bg.jpg) no-repeat;
	text-align: center;
}

#content {
	background: url(../img/content_bg.jpg) no-repeat;
}

#content_bottom {
	min-height: 1060px;
	background: url(../img/content_bottom.jpg) center bottom no-repeat;
	padding: 0px 0px 140px 0px;
	display: table;
	width: 100%;
}

#footer {
	height: 218px;
	background: url(../img/footer_bg.jpg) no-repeat;
	text-align: center;
}

#footer a {
	color: #485462;
}

#left {
	width: 200px;
	float: left;
	padding-top: 105px;
	padding-left: 0px;
}

#right {
	width: 201px;
	float: right;
	padding-top: 
}

#center {
	margin: 0px 201px 0px 237px;
	padding: 38px 112px 0px 76px;
}

#f_menu {
	font-size: 11px;
	padding-top: 74px;
}

#f_menu span {
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #262d3a;
	margin: 0px 24px;
	margin-bottom: -2px;
}

#f_menu a:hover {
	color: #a0acba;
	text-decoration: none;
}

#copyright {
	margin-top: 57px;
	color: #445263;
}

#copyright a {
	color: #a0acba;
}

#title_content {
  position: absolute;
  text-align: center;
	font-family: calibri;
	font-size: 18px;
	color: #baa08e;
	margin-top: -75px;
	margin-left: 165px;
}

.news {
	margin-bottom: 40px;
}

.news_title {
	color: #485361;
	margin-bottom: 15px;
}

.news_title a {
	color: #c3ab9d;
	font-size: 18px;
}

.news_text {
	line-height: 16px;
}

.news_info {
	border-bottom: 1px solid #1e2233;
	padding-bottom: 15px;
	color: #414957;
	margin-top: 20px;
}

.news_info div {
	float: right;
}

.news_info div a {
	display: inline-block;
	border-bottom: 1px solid #55606f;
	padding-bottom: 15px;
	margin-bottom: -1px;
}

.news_info div a:hover {
	border-bottom: 1px solid #8894a4;
	color: #c8d2e0;
	text-decoration: none;
}


.news_info div a:hover img {
	opacity: 1;
}

.news_info div a img {
	position: absolute;
	margin-left: -18px;
	margin-top: 2px;
	opacity: 0.5;
}

.news_info span {
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #262d3a;
	margin: 0px 14px;
	margin-bottom: -2px;
}

#pages {
	text-align: center;
	font-size: 0px;
}

#pages a, #pages span {
	font-size: 12px;
	color: #414957;
	display: inline-block;
	width: 31px;
	height: 31px;
	line-height: 31px;
	text-align: center;
}

#pages a:hover {
	color: #b5c0ce;
	text-decoration: none;
}

#page_sel {
	background: url(../img/page_sel.png) no-repeat;
	color: #b5c0ce !important;
}

#p_back {
	margin-right: 10px;
	background: url(../img/p_back.png) left 50% no-repeat;
	padding-left: 12px;
}

#p_next {
	margin-left: 10px;
	background: url(../img/p_next.png) right 50% no-repeat;
	padding-right: 12px;
}

#status {
	padding: 56px 36px 0px 45px;
}

.server {
	border-bottom: 1px solid #262b3c;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.server a {
	display: inline-block;
	font-size: 14px;
	color: #b3a093;
	margin-bottom: 4px;
}

.server a:hover {
	text-decoration: none;
	color: #c8d2e0;
}

.server img {
	position: absolute;
	margin-left: 100px;
	margin-top: 10px;
}

#server_total {
	text-align: center;
}

#server_total span {
	color: #fff;
}

#rankings_p {
	padding: 10px 14px 0px 29px;
	height: 235px;
}

#rankings_p span {
	color: #fff;
}

#rankings_p a {
	color: #b3a093;
}

.r_stats {
	text-align: right;
	padding-right: 20px !important;
}

.r_num {
	padding-left: 15px !important;
	width: 10px;
}

#rankings_p table td {
	padding: 2px;
	font-size: 11px;
}

#rankings_p table tr:hover {
	background: rgba(255,255,255,0.05);
}

#rankings_p table tr:hover a {
	color: #fff;
}

#rankings_g {
	padding: 85px 14px 0px 29px;
	height: 235px;
}

#rankings_g span {
	color: #fff;
}

#rankings_g a {
	color: #b3a093;
}

#rankings_g table td {
	padding: 2px;
	font-size: 11px;
}

#rankings_g table tr:hover {
	background: rgba(255,255,255,0.05);
}

#rankings_g table tr:hover a {
	color: #fff;
}

#soc {
	padding-top: 51px;
	padding-left: 86px;
}

#soc a {
	display: block;
	width: 28px;
	height: 28px;
	margin-bottom: 6px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
}

#tw {
	background: url(../img/buttons/tw_icon.png) no-repeat;
}

#fb {
	background: url(../img/buttons/fb_icon.png) no-repeat;
}

#g {
	background: url(../img/buttons/g_icon.png) no-repeat;
}

#tw:hover {
	background: url(../img/buttons/tw_icon_hover.png) no-repeat;
}

#fb:hover {
	background: url(../img/buttons/fb_icon_hover.png) no-repeat;
}

#g:hover {
	background: url(../img/buttons/g_icon_hover.png) no-repeat;
}

#auth {
	width: 168px;
	min-height: 122px;
	background: url(../img/auth_bg.jpg) no-repeat;
	margin: 0px auto;
	text-align: center;
	padding-top: 50px;
	padding: 50px 18px 0px 18px;
}

#input_id {
	width: 168px;
	height: 26px;
	font-size: 14px;
	font-family: Calibri;
	color: #a08c65;
  	text-align: center;
	background: url(../img/input.png) center no-repeat;
	border: 0px;
}

#input_pw {
	width: 168px;
	height: 26px;
	font-size: 14px;
	font-family: Calibri;
	color: #a08c65;
  text-align: center;
	background: url(../img/input.png) center no-repeat;
	margin-top: 5px;
	border: 0px;
}

#button_login {
	width: 144px;
	height: 72px;
	background: url(../img/buttons/bt_login.jpg) no-repeat;
	float: right;
	margin-top: -9px;
	margin-right: -3px;
	border: 0px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
}

#button_login:hover {
	background: url(../img/buttons/bt_login_hover.jpg) no-repeat;
}

#user_panel_front {
  width: 224px;	
	margin-left: -28px;
	margin-top: 8px;
}

#user_panel_front span {
	display: inline-block;
	width: 1px;
	height: 10px;
	background: #7c7056;
	margin: 0px 4px;
	margin-bottom: -2px;
}

.account_info {
  display: inline;
  font-family: calibri;
  font-size: 10px;
}

.account_info a {
  color: #83775a;
}

.account_info a:hover {
  color: #312f21;
}

.buy_coins {
  display: inline;
  font-family: calibri;
  font-size: 10px;
}

.buy_coins a {
  color: #83775a;
}

.buy_coins a:hover {
  color: #312f21;
}

.item_shop {
  display: inline;
  font-family: calibri;
  font-size: 10px;
}

.item_shop a {
  color: #83775a;
}

.item_shop a:hover {
  color: #312f21;
}

#user_panel_down {
 	width: 204px;	
	margin-left: -17px;
}

#user_panel_down span {
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #7c7056;
	margin: 0px 4px;
	margin-bottom: -2px;
}

.vote_coins {
  display: inline;
  font-family: calibri;
  font-size: 12px;
}

.vote_coins a {
  color: #83775a;
}

.vote_coins a:hover {
  color: #312f21;
}

.account_setting {
  display: inline;
  font-family: calibri;
  font-size: 12px;
}

.account_setting a {
  color: #83775a;
}

.account_setting a:hover {
  color: #312f21;
}

.account_logout {
  display: inline;
  font-family: calibri;
  font-size: 12px;
}

.account_logout a {
  color: #83775a;
}

.account_logout a:hover {
  color: #312f21;
}
